/* fonts
font-family: 'Oxanium', cursive;
font-family: 'Montserrat', sans-serif; */

.hide {
    display: none;
}

.show {
    display:inherit;
}

main {
    width: fit-content;
    margin:20px auto;
    font-family: 'Montserrat',sans-serif;
}

a {
    color: black;
    padding:10px;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

a:visited {
    color: initial;
}

h1{
    color: black;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Oxanium', cursive;
}

h2{
    color: black;
    padding:10px 0px;
    font-size: large;
    font-weight: bold;
    font-family: 'Oxanium', cursive;
}

h3{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    padding:20px 0px;
}

header {
    margin:-8px -8px 0 -8px;
    padding:20px 40px;
    background-color:azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid skyblue;
}


#answer-box>li {
    font-size: large;
    width:fit-content;
    margin:5px 0;
    padding: 10px;
    color: black;
    background-color: deepskyblue;
    border-radius: 5px;
    transition: 200ms all linear;
    outline:none;
}

button, #go-back{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    width:fit-content;
    margin:5px 0;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
    transition: 200ms all linear;
    outline:none;
    border:2.5px solid black
}

#answer-box>li:hover {
background-color: lightsteelblue;
cursor: pointer;
}

#score-button, #score-name, #clear-scores,#go-back{
    padding:5px;
    margin:10px;
}
#go-back{
    border-radius:5px;
}
#go-back:hover, button:hover {
    cursor: pointer;
    background-color: skyblue;
}

#answer-box{
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-top: 20px;
    text-align: center;
    /* padding:none; */
} 

#question{
    font-family: 'Montserrat', sans-serif;
}

#preface, #static-content-box, #dynamic-content-box, #results, #highscores-box,#dynamic-test{
    text-align: center;
    border: 4px solid skyblue;
    border-radius: 10px;
    padding:1rem;
    margin:0 auto;
}

.preface-text{
    margin:0 0 15px 0;
    text-align: center;
}

.container {
    padding:20px;
}
.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#validation-content{
    font-size: x-large;
    margin-top:10px;
    padding:5px;
}

#validation-box{
    text-align: center;
    margin:0 20px;
    padding:1rem;
}

#highscores>li{
    text-align: left;
    list-style-type: decimal;
    list-style-position: inside;
    padding:10px;
    border-radius:5px;
}
#highscores {
    Margin:20px;
}

.azure-background {
    background-color: azure;
}

.white-background {
    background-color: white;

}

.correct{
    border-radius: 5px;
    background-color:mediumspringgreen;
    color:forestgreen
}
.incorrect{
    border-radius: 5px;
    background-color:hsl(1,89%,90%);
    color:#B00E0A
}

#timer{
    text-align: center;
}

#start-quiz{
    width: fit-content;
    height:40px;
    font-size: x-large;
    padding:0 20px 0 20px;
}

@media (min-width: 576px) {
    
    main{
        max-width:80%;
    }
}
@media (min-width: 768px) {
    main{
        max-width:80%;
    }
}
@media (min-width: 992px) {
  
    main{
        max-width:80%;
    }
}
@media (min-width: 1200px) {
    
}