/* fonts
font-family: 'Oxanium', cursive;
font-family: 'Montserrat', sans-serif; */

.hide {
    display: none;
}

.show {
    display:inherit;
}

main {
    width: 100%;
    margin:20px auto;
    font-family: 'Montserrat',sans-serif;
}

a {
    padding:10px;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

a:visited {
    color: initial;
}

h1{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Oxanium', cursive;
}

h2{
    padding:10px 0px;
    font-size: large;
    font-weight: bold;
    font-family: 'Oxanium', cursive;
}

header {
    margin:-8px -8px 0 -8px;
    padding:20px 40px;
    background-color:#dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button, li {
    margin:5px 0;
    padding: 2.5px 5px;
    color: azure;
    background-color: slategray;
    border-radius: 5px;
    border:2px solid black;
    transition: 200ms all linear;
    outline:none;
}
button:hover, li:hover {
background-color:hsl(210,13%,35%);
cursor: pointer;
}

#answer-box{
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-top: 20px;
}

#preface, #content-box, #results, #highscores-box{
    text-align: center;
    border: 4px solid #dbdbdb;
    border-radius: 10px;
    padding:1rem;
    margin:0 20px;
}

#validation-content{
    margin-top:10px;
    padding:5px;
}

#validation-box{
    margin:0 20px;
    padding:1rem;
}
.correct{
    border-radius: 5px;
    background-color:mediumspringgreen;
    color:forestgreen
}
.incorrect{
    border-radius: 5px;
    background-color:hsl(1,89%,90%);
    color:#B00E0A
}

.preface-text{
    margin:0 0 15px 0;
    text-align: left;
}
#timer{
    text-align: center;
}

#start-quiz{
    width: 60%;
    height:40px;
    font-size: x-large;
}

@media (min-width: 576px) {
    main{
        width:80%
    }
}
@media (min-width: 768px) {
    main{
        width:60%
    }
}
@media (min-width: 992px) {
    main{
        width:50%
    }
}
@media (min-width: 1200px) {
    
}